tests/dry-run/check-xml/schemas/calibrators.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xi="http://www.w3.org/2001/XInclude" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="calibrators1.xsd" namespace="http://www.w3.org/2001/XInclude" />
    <xs:element name="device">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element ref="xi:include" />

                <!-- ******* -->
                <!-- GENERAL -->
                <!-- ******* -->
                <xs:element minOccurs="1" maxOccurs="1" name="group">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="joints"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
    
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="deviceName"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" fixed="GENERAL" />
                    </xs:complexType>
                </xs:element>

                <!-- *********************** -->
                <!-- HOME / PARKING_SEQUENCE -->
                <!-- *********************** -->
                <xs:element name = "group">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any minOccurs = "1" maxOccurs = "unbounded" processContents = "lax"/>
                        </xs:sequence>
                        <xs:attribute name="name" type="home-parking" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- ******* -->
                <!-- CALIBRATION -->
                <!-- ******* -->
                <xs:element maxOccurs="1" name="group">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibrationType"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibration1"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibration2"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibration3"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibration4"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibration5"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibrationZero"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="calibrationDelta"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="startupPosition"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="startupVelocity"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="startupMaxPwm"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" fixed="startupPosThreshold"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:any minOccurs = "0" maxOccurs = "unbounded" processContents = "lax"/>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" fixed="CALIBRATION" />
                    </xs:complexType>
                </xs:element>   

                <!-- CALIBRATION ORDER-->
                <xs:element name="param" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="name" type="xs:string" use="required" fixed="CALIB_ORDER"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>

                <!-- ACTIONS -->
                <xs:element minOccurs="1" maxOccurs="unbounded" name="action">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="param">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="name" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="phase" type="phase-values" use="required"/>
                        <xs:attribute name="level" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="type" type="type-values" use="required"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="home-parking">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOME" />
            <xs:enumeration value="PARKING_SEQUENCE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="phase-values">
        <xs:restriction base="xs:string">
            <xs:enumeration value="startup" />
            <xs:enumeration value="interrupt1" />
            <xs:enumeration value="interrupt2" />
            <xs:enumeration value="interrupt3" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type-values">
        <xs:restriction base="xs:string">
            <xs:enumeration value="calibrate" />
            <xs:enumeration value="park" />
            <xs:enumeration value="abort" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>